<header>
 <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>

<!--  <%= link_to logo, root_path %>  -->
  <nav class="round">
    <ul>
      <li><a href="/pages/home">Home</a></li>
      <li><a href="/pages/help">Help</a></li>
      <!-- <li><%= link_to "Sign in", '#' %></li> -->
      <li><a href="/users/new">Sign in</a></li>
    </ul>
  </nav>

</header>
